.templateBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.whiteBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.246);
  padding: 2rem;
  margin: 2rem;
  width: 66%;
  background: white;
  border-radius: 2px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  box-shadow: 1px 1px 1px 1px rgba(29, 26, 26, 0.246);
  padding: 1.5rem;
  margin: 1rem;
  width: 80%;
  background: rgba(255, 255, 255, 0.663);
  border-radius: 18px;
}

.th {
  font-size: 0.8rem;
}

.th,
.td {
  padding: 20px;
  text-align: center;
  font-size: 0.8rem;
}

.tableRow {
  cursor: pointer;
  transition: all ease 0.4s 0s;
}

.tableRow:hover {
  background-color: rgba(100, 137, 108, 0.109);
}
